html {
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 1310px;
  margin: 0 auto;
  background-color: #ffffff;
}

h1 {
  font-size: 40px;
  color: #007d7b;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-left: 30px;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: #000000;
  margin: 0;
  text-align: center;
}

h3 {
  visibility: hidden;
  display: inline;
}

p {
  font-size: 20px;
  color: #000000;
  margin: 0;
}

form {
  width: 1310px;
  margin: 0 auto;
  background-color: #000000;
}

header {
  background-color: #000000;
  color: #ffffff;
}

ul li {
  display: inline;
  position: relative;
  left: 645px;
  top: -45px;
}

li a {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 80px;
}

nav a:hover {
  color: #007d7b;
}

[href="#top"] {
  background-color: #007d7b;
  position: fixed;
  height: 20px;
  padding: 10px;
  bottom: 0;
  right: 0;
  margin: 5px;
}

[href="#top"]:hover {
  background-color: #ffffff;
  color: #007d7b;
}

.about {
  width: 420px;
  clear: both;
  margin-left: 15px;
}

.about p + p {
  text-indent: 30px;
  height: 20px;
}

.gallery {
  clear: both;
  margin: 0 auto;
}

.gallery h2,
.gallery p {
  margin-bottom: 5px;
  margin-left: 15px;
}

.contact {
  text-align: center;
}

.contact h2,
.contact p {
  color: #ffffff;
}

h2 .contact,
label {
  color: #ffffff;
}

label,
[name],
button {
  display: block;
  text-transform: uppercase;
  padding: 5px;
  text-align: left;
  width: 850px;
  margin: 0 auto;
}

input,
::placeholder {
  color: #007d7b;
  font-size: inherit;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

button {
  background-color: #007d7b;
  color: #ffffff;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #007d7b;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  padding: 20px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

figure {
  width: 420px;
  height: 281px;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-right: 0;
}

img[alt^="I"] {
  height: 630px;
}

figcaption {
  position: relative;
  text-transform: uppercase;
  display: inline;
  top: 20px;
  padding: 5px;
}
